{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Add New Address</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Delivery Addresses</a>
                    </nav>
                </div>
            </div>
        </div>
</section>
    <!-- End Banner Area -->


<section class="checkout_area section_gap">
    <div class="container">
        <div class="row">
            <div style="padding-left:25%;" class="col-lg-12">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8" style="border: 2px solid; border-radius:5px; padding:30px;">
                        <div class="checkout_btn_inner align-items-center d-flex" style="margin-top:-28px; margin-left:-28px; font-size:10px;">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <a href="{% url 'orders:delivery_address' %}"><i title="Go Back" style="font-size:24px" class="fa fa-arrow-circle-left"></i></a>&nbsp;&nbsp;&nbsp;
                         </div>
                        <h3 style="text-align:center;">Add New Address</h3>

                        <form class="row contact_form" action="" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6 form-group p_star">
                                <h6>Name:</h6>
                                <input type="text" class="form-control" id="name-value" name="name" required>
                                <span class="error" id="name-error" style="color:red; font-size:12px;"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <h6>Phone Number:</h6>
                                <input type="text" class="form-control" id="phone-value" name="phone"
                                       required pattern="^[7-9][0-9]{9}$" maxlength="10">
                                <span class="error" id="phone-error" style="color:red; font-size:12px;"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <h6>Address 1:</h6>
                                <input type="text" class="form-control" id="address-1-value" name="address1" required>
                                <span class="error" id="address-error" style="color:red; font-size:12px;"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <h6>Address 2:</h6>
                                <input type="text" class="form-control" id="address-2-value" name="address2">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <h6>City:</h6>
                                <input type="text" class="form-control" id="city-value" name="city" required>
                                <span class="error" id="city-error" style="color:red; font-size:12px;"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <h6>PIN Code:</h6>
                                <input type="text" class="form-control" id="pin-value" name="pin" required pattern="^[1-9][0-9]{5}$">
                                <span class="error" id="pin-error" style="color:red; font-size:12px;"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <h6>State:</h6>
                                <select class="country_select" id="state-value" name="state">
                                    <option value="Delhi">Delhi</option>
                                    <option value="Noida">Noida</option>
                                    <option value="Ghaziabad">Ghaziabad</option>
                                </select>
                            </div>
                            <div class="checkout_btn_inner align-items-center d-flex" style="margin-left:180px;">
                                <a href="{% url 'index' %}"><button onclick="add_address()" class="primary-btn" >Add Address</button></a>&nbsp;&nbsp;&nbsp;
                        </div>

                        </form>


                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<script>
    function add_address(){
        var name = ''
        var phone = ''
        var address = ''
        var city = ''
        var pin = ''

        if ($('#name-value').val())
            {
                name = $('#name-value').val()
                $('#name-error').text('')
            }
        else
            {
                $('#name-error').text('Please Enter Your Name')
            }

        if ($('#phone-value').val())
            {
                phone = $('phone-value').val()
                $('#phone-error').text('')
            }
        else
            {
                $('#phone-error').text('Number must be in Indian format +91-(AAAAA BBBBB)')
            }

        if ($('#address-1-value').val())
            {
                address = $('address-1-value').val()
                $('#address-error').text('')
            }
        else
            {
                $('#address-error').text('Enter your address')
            }

         if ($('#city-value').val())
            {
                city = $('city-value').val()
                $('#city-error').text('')
            }
        else
            {
                $('#city-error').text('Enter your city')
            }

        if ($('#pin-value').val())
            {
                pin = $('pin-value').val()
                $('#pin-error').text('')
            }
        else
            {
                $('#pin-error').text('Please enter a valid PIN Code, Ex-208010')
            }
    }
</script>
{% endblock %}


{% block scroll_js %}
<script type="text/javascript">
    $("html,body").scrollTop(400);
</script>
{% endblock scroll_js%}




