{% extends 'base.html' %}
{% load static %}
{% block content %}





<section class="banner-area">
<div class="container">
<div class="row fullscreen align-items-center justify-content-start">
<div class="col-lg-12">
<div class="active-banner-slider owl-carousel">
<!-- single-slide -->
{% for banner in top_banners %}

<div class="row single-slide align-items-center d-flex">


<div class="col-lg-5 col-md-6">
<div class="banner-content">
<h1>{{ banner.title }}</h1>
<p>{{ banner.description }}</p>
<div class="add-bag d-flex align-items-center">
<a class="add-btn" href="/product/category={{banner.category.category}}&&sub={{banner.sub_category.sub_category}}"><span class="lnr lnr-cross"></span></a>
<span class="add-text text-uppercase">Know More</span>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="banner-img">
<img class="img-fluid" src="{{ banner.image }}" style="width: 400px; height: 400px" alt="">
</div>
</div>

</div>
{% endfor %}

<!-- single-slide -->







</div>
</div>
</div>
</div>


</section>













<section class="features-area">
<div class="container">
<div class="row features-inner">
<!-- single features -->
{% for banner in banners  %}



<div class="col-lg-4">
<a href="{% url 'product_list' %}?category={{ banner.category }}&&sub_category={{ banner.sub_category }}&&gender={{ banner.gender }}">
                    <div class="categories_post">
                        <img src="{{ banner.image.url }}" alt="post" style="width: 355px; height: 255px">
                        <div class="categories_details mt-5"  style="opacity: 0.65; height: 100px; font-weight: bold; color:yellow;">
                            <div class="categories_text">
                                  <h5>{{ banner.title }}</h5>
                                <div class="border_line"></div>
                                <p>Click now for exclusive deals!</p>
                            </div>
                        </div>
                    </div>
                                </a>

                </div>

{% endfor %}
</div>
</div>
</section>







<div class="single-product-slider">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 text-center">
<div class="section-title">
<h1>Trending</h1>
</div>
</div>
</div>
<div class="row">
<!-- single product -->
{% for product in trending %}

<div class="col-lg-3 col-md-6">
<div class="single-product">
<a href="{% url 'products:product_detail' product.slug %}">

<img class="img-fluid" src="{{ product.image.url }}" alt="" style="width: 255px; height: 255px">
</a>
<div class="product-details">
<h6>{{ product.name }}</h6>
<div class="price">
<h6>₹{{ product.price }}</h6>
<h6 class="l-through">210.00</h6>
</div>
<div class="prd-bottom">


<a href="{% url 'products:product_detail' product.slug%}" class="social-info">
<span class="lnr lnr-move"></span>
<p class="hover-text">Know More</p>
</a>
</div>
</div>
</div>
</div>
{% endfor %}

</div>
</div>
</div>









<!-- start features Area -->
<section class="features-area">
<div class="container">
<div class="row features-inner">
<!-- single features -->

<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-features">
<div class="f-icon">
<img src="{% static 'img/features/f-icon1.png' %}" alt="">
</div>
<h6>Free Delivery</h6>
<p>Free Shipping on all order</p>
</div>
</div>
<!-- single features -->
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-features">
<div class="f-icon">
<img src="{% static 'img/features/f-icon2.png' %}" alt="">
</div>
<h6>Return Policy</h6>
<p>Free Shipping on all order</p>
</div>
</div>
<!-- single features -->
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-features">
<div class="f-icon">
<img src="{% static 'img/features/f-icon3.png' %}" alt="">
</div>
<h6>24/7 Support</h6>
<p>Free Shipping on all order</p>
</div>
</div>
<!-- single features -->
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-features">
<div class="f-icon">
<img src="{% static 'img/features/f-icon4.png' %}" alt="">
</div>
<h6>Secure Payment</h6>
<p>Free Shipping on all order</p>
</div>
</div>
</div>
</div>
</section>
<!-- end features Area -->



<!-- start product Area -->
<!-- single product slide -->
<br>
<div class="single-product-slider">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 text-center">
<div class="section-title">
<h1>Featured Products</h1>
</div>
</div>
</div>
<div class="row">
<!-- single product -->
{% for product in object_list %}

<div class="col-lg-3 col-md-6">
<div class="single-product">
<a href="{% url 'products:product_detail' product.slug %}">

<img class="img-fluid" src="{{ product.image.url }}" alt="" style="width: 255px; height: 255px">
</a>
<div class="product-details">
<h6>{{ product.name }}</h6>
<div class="price">
<h6>₹{{ product.price }}</h6>
<h6 class="l-through">210.00</h6>
</div>
<div class="prd-bottom">


<a href="{% url 'products:product_detail' product.slug%}" class="social-info">
<span class="lnr lnr-move"></span>
<p class="hover-text">Know More</p>
</a>
</div>
</div>
</div>
</div>
{% endfor %}

</div>
</div>
</div>
<!-- end product Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
<div class="container">
<div class="row">
<a class="col single-img" href="#">
<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/1.png'%}" alt="">
</a>
<a class="col single-img" href="#">
<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/2.png'%}" alt="">
</a>
<a class="col single-img" href="#">
<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/3.png'%}" alt="">
</a>
<a class="col single-img" href="#">
<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/4.png'%}" alt="">
</a>
<a class="col single-img" href="#">
<img class="img-fluid d-block mx-auto" src="{% static 'img/brand/5.png'%}" alt="">
</a>
</div>
</div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 text-center">
<div class="section-title">
<h1>Latest Deals</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-9">
<div class="row">
{% for product in latest_products %}
<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
<div class="single-related-product d-flex">
<a href="{% url 'products:product_detail' product.slug %}"><img src="{{ product.image.url }}" alt="" height="100px" width="100px"></a>
<div class="desc">
<a href="{% url 'products:product_detail' product.slug %}" class="title">{{ product.name }}</a>
<div class="price">
<h6>₹{{ product.price }}</h6>
</div>
</div>
</div>
</div>
{% endfor %}



</div>
</div>
<div class="col-lg-3">
<div class="ctg-right">
<a href="#" target="_blank">
<img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg' %}" alt="">
</a>
</div>
</div>
</div>
</div>
</section>
<!-- End related-product Area -->


{% endblock content %}