{% extends 'base.html' %}
{% block content %}
 <!-- Start Banner Area -->
   <section class="banner-area organic-breadcrumb">
      <div class="container">
         <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
               <h1>Forgot Password</h1>
               <nav class="d-flex align-items-center">
                  <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                  <a href="{% url 'check_email' %}">Forgot Password</a>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!-- End Banner Area -->

 <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login_form_inner">
<div class="content-section">
    <form method="POST">
    {% csrf_token %}

    <fieldset class="form-group">
        <legend class="border-bottom pb-4 mb-4"><strong>Reset Password!</strong></legend>
        <p>
            <label for="id_new_password1"><strong>New password:</strong></label> <br>
             <input type="password" name="new_password1" required id="id_new_password1"> <span class="helptext"><ul><li>Your password must contain at least 8 characters.</li><li>Your password can't be entirely numeric.</li></ul></span></p>
<p><label for="id_new_password2"><strong>New password Confirmation:</strong></label> <br><input type="password" name="new_password2" required id="id_new_password2"></p>

    </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
            Reset Password </button>
        </div>

    </form>

</div>
</div>
</div>
</div>
</div>
</section>


{% endblock content %}


{% block scroll_js %}
<script type="text/javascript">
$("html,body").scrollTop(430);
</script>
{% endblock scroll_js%}
