{% extends 'base.html' %}
{% load static %}


{% block content %}


 <!-- Start Banner Area -->
   <section class="banner-area organic-breadcrumb">
      <div class="container">
         <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
               <h1>Forgot Password</h1>
               <nav class="d-flex align-items-center">
                  <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                  <a href="{% url 'check_email' %}">Forgot Password</a>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!-- End Banner Area -->
  
    <!--================Login Box Area =================-->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login_form_inner" style="margin-bottom: 100px">
    <form method="POST">
    {% csrf_token %}

    <fieldset class="form-group">
        <!-- <legend class="border-bottom mb-4">Reset Password!</legend> -->
        <br>
        <input type="email" name="email" id="id_email" maxlength="254" value="{{ request.session.user_email }}" hidden>
        

        
    </fieldset>
        


 <p><h3>Email Confirmed. Click to reset password now.</h3></p>
        <div class="form-group">
            <button class="primary-btn  hover" type="submit">
            Request Password Reset </button>
        </div>
    
    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->

{% endblock content %}
    

{% block scroll_js %}
<script type="text/javascript">
$("html,body").scrollTop(110);
</script>
{% endblock scroll_js%}