{% extends 'base.html' %}
{% block content %}


 <!-- Start Banner Area -->
   <section class="banner-area organic-breadcrumb">
      <div class="container">
         <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
               <h1>Forgot Password</h1>
               <nav class="d-flex align-items-center">
                  <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                  <a href="{% url 'check_email' %}">Forgot Password</a>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!-- End Banner Area -->




 <div class="container section_gap login_box_area " >
            <div class="row">
                <div class="col-lg-12">
                	<div class="login_form_inner"  style="margin-bottom: 80px">
<h3>An email has been sent to you with further instructions. </h3>
<a class="primary-btn" href="{% url 'index' %}">Return to Homepage</a>
                </div>
            </div>
        </div>
        </div>




{% endblock content %}
{% block scroll_js %}
<script type="text/javascript">
$("html,body").scrollTop(130);
</script>
{% endblock scroll_js%}